#create{
    margin: 2vmax;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

#create .add{
    background-color: black;
    display: none;
    padding: 0;
    width: 3.6vmax;
    height: 3.6vmax;
    border-radius: 1.8vmax;
}


/* #create .add:focus{
    opacity: 0;
}
#create .add:focus + .options{
    display: flex;
} */

#create button{
    border: none;
}
#create button:focus{
    outline: none;
}

#create .options{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1.8vmax;
    padding: 0.8vmax 4vmax 0.8vmax 1vmax;
}

#create .options button{
    font-weight: 500;
    background-color: transparent;
    font-size: 1.1vmax;
}

#create .options button:first-child{
    margin-bottom: 0.6vmax;
}