#tasks{
    flex-direction: column;
    box-sizing: border-box;
}

#tasks li{
    margin-top: 2vw;
    box-shadow: none;
}

#tasks li:first-child{
    margin-top: 1.6vw;
}

@media (max-aspect-ratio: 1/1){
    #tasks li{
        margin-top: 3.1vh;
    }
    
    #tasks li:first-child{
        margin-top: 2.5vh;
    }
}