#tasks{
    flex-direction: column;
    box-sizing: border-box;
}

#tasks .task{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#tasks .task .complete{
    margin-right: 1.5vmax;
}

#tasks .task textarea{
    border: none;
    width: 100%;
    font-size: 1.1vmax;
    line-height: 1.7vmax;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    padding: 0;
    height: auto;
}

#tasks .task textarea:focus{
    outline: none;
}

#tasks li{
    margin-top: 1vmax;
    box-shadow: none;
}

#tasks li:first-child{
    margin-top: 0;
}