#tasks{
    flex-direction: column;
    box-sizing: border-box;
}

#tasks .task{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#tasks .task .complete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: none;
    margin-right: 1.85vw;
    background-color: #908EF3;
    outline: none;
}

#tasks .task .complete:hover svg{
    transition: 400ms;
    fill: #ebebeb;
}

#tasks .task .complete svg{
    width: 85%;
    height: 85%;
    pointer-events: none;
}

#tasks .task textarea{
    border: none;
    width: 100%;
    font-size: 1.65vw;
    line-height: 2.5vw;
    background-color: transparent;
    color: #ebebeb;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    padding: 0;
    height: auto;
}

#tasks .task textarea:focus{
    outline: none;
}

#tasks li{
    margin-top: 2vw;
    box-shadow: none;
}

#tasks li:first-child{
    margin-top: 1.6vw;
}