#tasks{
    flex-direction: column;
}

#tasks li, #tasks input{
    margin-top: 1vmax;
    box-shadow: none;
}

#tasks input{
    border: none;
}

#tasks input:focus{
    outline: none;
}

#tasks li:first-child{
    margin-top: 0;
}