ul{
    display: flex;
    padding: 0;
} 

li, input{
    border-radius: 1.5vmax;
    font-size: 1.1vmax;
    padding: 1.5vmax;
    margin-right: 2vmax;
}

li, input{
    font-weight: 500;
    list-style: none;
    background-color: #16213e;
    color: #e7e7e9;
}