ul{
    display: flex;
    padding: 0;
} 

li{
    border-radius: 2.21vw;
    font-size: 1.65vw;
    padding: 1.85vw 2.15vw;
}

li{
    font-weight: 400;
    list-style: none;
    background-color: #1D1E21;
    box-shadow: 9px 9px 12px 12px rgba(0, 0, 0, 0.09);
    color: #ebebeb;
}