ul{
    display: flex;
    padding: 0;
} 

li{
    border-radius: 1.5vmax;
    font-size: 1.1vmax;
    padding: 1.5vmax;
}

li{
    font-weight: 500;
    list-style: none;
    background-color: #16213e;
    color: #e7e7e9;
}