#categories{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.margin-bottom{
    margin-bottom: 2vw;
}

@media (max-aspect-ratio: 1/1){ 
    .margin-bottom{
        margin-bottom: 2.6vh;
    }
}