#tasks .task{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#tasks .task .complete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: none;
    margin-right: 1.85vw;
    background-color: #908EF3;
    outline: none;
}

#tasks .task .complete:hover svg{
    transition: 400ms;
    fill: #ebebeb;
}

#tasks .task .complete svg{
    width: 85%;
    height: 85%;
    pointer-events: none;
    fill: #121213;
}

#tasks .task textarea{
    width: 100%;
    border: none;
    font-size: 1.65vw;
    line-height: 2.5vw;
    background-color: transparent;
    color: #ebebeb;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    padding: 0;
    height: auto;
}

#tasks .task textarea:focus{
    outline: none;
}

@media (max-aspect-ratio: 1/1){
    #tasks .task{
        padding: 2.3vh 2vh;
    }

    #tasks .task .complete{
        width: 3.7vh;
        height: 3.7vh;
        margin-right: 2.15vh;
    }

    #tasks .task textarea{
        font-size: 2.25vh;
        line-height: 3.4vh;
    }
}