@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #121213;
    box-sizing: border-box;
    overflow-x: hidden;
}

#container{
    width: 100%;
    height: 100%;
    padding: 1.5vw 3vw;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

#data{
    width: 100%;
    max-width: 100%;
}

*{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 1.3vw;
    font-weight: 400;
    color: #898989;
    margin: 0;
}

@media (max-aspect-ratio: 1/1){
    #container{
        padding: 2.5vh 3.2vh;
    }
    h2{
        font-size: 2vh;
    }
}